# EditorConfig (https://editorconfig.org)
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

# Removed from EditorConfig spec, but still supported by some editors.
max_line_length = 120

[{*.cmake,CMakeLists.txt}]
# TODO: indent_size = 2
indent_size = 4

[*.css]
indent_size = 2

[*.json]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2

[*.manifest]
indent_size = 2

[*.nuspec]
indent_size = 2
