# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# qmake
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# Qt Creator
*.autosave

# Qt Ctreator QML
*.qmlproject.user
*.qmlproject.user.*

# CMake
CMakeLists.txt.user
