# C++ objects and libs
*.a
*.dll
*.dylib
*.la
*.lai
*.lo
*.o
*.slo
*.so

# CMake
build.*/
build/
CMakeLists.txt.user
CMakeUserPresets.json

# AppImage Builder
*.AppImage
*.AppImage.zsync
appimage-builder-cache/
squashfs-root/

# WiX Toolset
*.msi
*.wixobj
*.wixpdb

# Qt Creator
*.autosave

# VS Code
.vscode/

# Linux appdata
/assets/freedesktop/org.zealdocs.zeal.appdata.xml
