[project]
	description = Offline documentation browser inspired by Dash
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Oleg Shparber (trollixx)
[access "refs/for/refs/*"]
	read = group user/Oleg Shparber (trollixx)
	push = group user/Oleg Shparber (trollixx)
	label-Code-Review = -2..+2 group user/Oleg Shparber (trollixx)
	label-Verified = -1..+1 group user/Oleg Shparber (trollixx)
	rebase = group user/Oleg Shparber (trollixx)
	removeReviewer = group user/Oleg Shparber (trollixx)
	submit = group user/Oleg Shparber (trollixx)
[access "refs/heads/*"]
	read = group user/Oleg Shparber (trollixx)
	create = group user/Oleg Shparber (trollixx)
	push = +force group user/Oleg Shparber (trollixx)
	pushMerge = group user/Oleg Shparber (trollixx)
[access "refs/tags/*"]
	push = +force group user/Oleg Shparber (trollixx)
	pushTag = group user/Oleg Shparber (trollixx)
	pushSignedTag = group user/Oleg Shparber (trollixx)
