body { padding-top: 60px; }
.hero-unit { background-color: #e8e8e8; }
#screenshot {
  margin: 0 auto;
  display: block;
}
.ss-wrapper {
    padding-right: 20px;
}

.row .btn {
  float: right;
  margin: 15px 0 0 0;
}
.well {
    margin: 40px;
}
.well img {
    display: block;
    float: right;
}
.copyright {
    float: right;
    margin: 80px 0;
}
#ssModal {
    width: 1100px;
    margin-left: -550px;
}
#ssModal.fade.in {
    top: 5%;
}
#ssModal .modal-body {
    max-height: 650px;
}
#github-btn {
    float: right;
}
.hero-unit #github-btn {
    margin-right: -80px;
    margin-top: -40px;
}
h2.top { margin-top: -6.5px; }
@media (max-width: 767px) {
    h2.top { margin-top: 10px; }
}
