/* Dark mode (see #466). */
/* TODO: Check if we need -webkit-filter for old Qt WebKit. */

html {
    background-color: #262626 !important;
    filter: invert(1) hue-rotate(180deg) contrast(70%) !important;
}

html img {
    filter: invert(1) hue-rotate(180deg) contrast(120%) !important;
}
