/* Dark mode (see #466). */

html {
    filter: invert(1) hue-rotate(180deg) contrast(70%) !important;
}

html:not(.welcome) {
    background-color: #262626 !important;    
}

html img {
    filter: invert(1) hue-rotate(180deg) contrast(120%) !important;
}
