[Desktop Entry]
Version=1.0
Name=Zeal
GenericName=Simple API documentation browser
Comment=Simple API documentation browser inspired by Dash
Exec=zeal
Icon=zeal
Terminal=false
Type=Application
Categories=Development;
