body {
    color: #7a7a7a;
    cursor: default;
    display: -webkit-flex;
    font-size: 11pt;
    margin: 10;
    text-align: center;
    -webkit-flex-direction: column;
    -webkit-user-select: none;
}

a {
    color: #7a7a7a;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#title {
    font-size: 4em;
}

.container {
    -webkit-flex: none;
}

.dynamic {
    -webkit-flex: auto;
}
